# Trello application key can be fetched by logging into Trello
# and then visiting https://trello.com/1/appKey/generate
trello_application_key: 123abc123abc123abc123abc

# Trello board id is the 8 character string after /b/ in the board url.
# Ex. '1a2abcdc' is the board id in https://trello.com/b/1a2abcdc/test-board
trello_board_id: 1a2abcdc
